.contact{
    position: relative;
    padding-top: 250px;
    padding-bottom: 150px;
}
.dFlex{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: nowrap;
    flex-basis: 50% 50%;
}
.contactInfo{
    width: 50%;
}
.contactForm{
    background: linear-gradient(140deg,#19e892d0,#18c8c8b8);
    padding: 40px 40px;
    width: 40%;
}
h2{
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.contactForm>h2{
    padding-bottom: 50px;
    margin: 0
}
h4{
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    /* border-bottom: 2px solid #ffffff; */
    text-decoration: underline;
    padding-bottom: 5px;
    font-family: 'Roboto', sans-serif;
}
p{
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
}
input{
    border: none;
    display: block;
    width: 100%;
    background: transparent;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff !important;
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 2px solid #ffffff;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;

}
::placeholder{
    opacity: 1;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff !important;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}
:focus{
    outline: none;
}
button{
    border: none;
    display: inline-block;
    width: 60%;
    background: transparent;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff !important;
    padding: 10px 0;
    margin: 15px 0;
    border: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(140deg,#18C8C8,#19E891);
    box-shadow: 0 0 50px 0 #00000056;
    margin-top: 50px;
}
@media (min-width:320px) and (max-width:660px){
    .contact{
        padding-bottom: 50px;
    }
    .dFlex{
        flex-direction: column-reverse;
    }
    .contactInfo{
        width: 100%;
        flex-shrink: 1;
    }
    .contactForm{
        background: linear-gradient(140deg,#19e892d0,#18c8c8b8);
        padding: 40px 50px;
        width: 100%;
        box-sizing: border-box;
        flex-shrink: 0;
    }
    h4{
        font-size: 14px;
    }
    h2{
        font-size: 28px;
    }
    input,::placeholder,button{
        font-size: 14px;
    }
}
@media (min-width:661px) and (max-width:999px){
    .contact{
        padding-bottom: 30px;
    }
    h4{
        font-size: 14px;
    }
    h2{
        font-size: 26px;
    }
    input,::placeholder,button{
        font-size: 14px;
    }
}
@media (min-width:1000px) and (max-width:1280px){
    .contact{
        padding-bottom: 30px;
    }
    h2{
        font-size: 36px;
    }
    input,::placeholder,button{
        font-size: 14px;
    }
}