body{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
.container{
  max-width: 1320px;
  margin: 0 auto;
  position: relative;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}

@media (min-width:320px) and (max-width:575px){
  .container{
     width: 95% !important;
     position: relative;
  }
}
@media (min-width:576px) and (max-width:1400px){
  .container{
     width: 90% !important;
     position: relative;
  }
}